* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px Tahoma;
}

h4 {
  margin-bottom: 6px;
  text-transform: uppercase;
}

hr {
  display: block;
  margin-bottom: 10px;
  border: none;
  height: 1px;
  background: #ccc;
}

.sandbox {
  display: flex;
  padding: 50px;
  height: 100vh;
}

.preview {
  flex: 1;
  background-color: #ddd;
  overflow: scroll;
  min-width: 600px;
  min-height: 400px;
}
.preview #screen {
  display: block;
  border: 2px solid #555;
}

.controls {
  margin-right: 50px;
  width: 20%;
  min-width: 300px;
}

.controls .parameters {
  margin-bottom: 20px;
  padding: 20px;
  background: #eee;
  border-radius: 8px;
}
.controls .parameters .inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.controls .parameters .item:not(:last-child) {
  margin-bottom: 20px;
}
.controls .parameters .item.c {
  display: flex;
  align-items: center;
}
.controls .parameters .item label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 3px;
}
.controls .parameters .item.c label {
  margin: 0 0 0 5px;
}
.controls .parameters .item input[type="input"] {
  border: 1px solid #ddd;
  padding: 8px 12px;
  box-shadow: 0 1px 5px #eee inset;
  border-radius: 5px;
  background: #fff;
  font: 12px Tahoma;
  width: 100%;
}
.controls .parameters .item .range {
  display: flex;
  gap: 10px;
}
.controls .parameters .item input[type="range"] {
  width: 100%;
}

.controls button {
  padding: 10px 15px;
  border-radius: 5px;
  background: #22272d;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}
.controls button:hover {
  cursor: pointer;
  background: #1f354f;
}

.tint {
  margin-top: 25px;
}

.meta {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.meta a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}
.meta a:hover {
  text-decoration: none;
  color: #777;
}
.meta a:not(:last-child) {
  margin-bottom: 5px;
}